# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.TestStore.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\TestScore\Solution1\TestStore\.idea\.idea.TestStore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
